<!DOCTYPE html>
<html>
    <head>
    <link rel = "stylesheet" href = "style.css" />
   <title>Amazon SriLanka</title>
    </head>

    <body>
        <div class="grid-container"> 
            <header class="header">
                <div class="brand">
                    <a href="index.html" > Amazon SriLanka </a>
                </div>   
                <div class="header-links">
                     <a href="cart.html">Cart</a>
                     <a href="singnin.html">Sign In</a>
                </div>
                
            </header>
        
            <main class="main">
                <div class="content">
                    <ul class = "Product">
                        <li>
                            <div class="product">
                                <img  class="product-image" src="./images/d1.jpg" alt="product-name">
                                <div class ="product-name">
                                    <a href="product.html">Slim shirt</a>
                                   </div>
                                <div class ="product-brand">Nike</div>
                                <div class ="price">$60</div>

                        </li>
                        
                    </ul>
                </div>
                

            </main>
            <footer class="footer">
                All right reserved.
            </footer>
        </div>
    </body>
</html>